/* Var for the colors -----------------------------------------------*/
:root{
    --dark-green: #395144;
    --green: #4E6C50;
    --brown: #AA8B56;
    --base: #F0EBCE;
    
}
/* assign the main font size to 10 px to work with REM and delete the margin */
html{
    font-size: 10px;
    font-family: 'Inter', sans-serif;
}
body{
    margin: 0;
}


/* nav bar------------------------------------------------------------------- */


nav{
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    background: rgba(57, 81, 68, 0.5);  
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    margin-left: 40px;
    width: 222.46px;
    height: 123px;
}
.navbar__container{
    margin-right: 80px;
    display: flex;
    align-items: center;
}
.navbar__container ul{
    display: flex;
    list-style: none;
}
.navbar__container ul li a{
    text-decoration: none;
    color: var(--base);
    margin-left: 40px;
    font-size: 1.4rem;
}
.navbar__calltoaction{
    padding: 10px 10px;
    border: var(--brown) solid 2px;
    transition-property: background-color;
    transition-duration: 800ms;
}
.navbar__calltoaction:hover{
    background-color: var(--brown);
    transition-property: background-color;
    transition-duration: 800ms;
}


/* hero section--------------------------------------------------------- */


.hero{
    top: 0px;
    width: 100%;
    height: 120vh;;
}
.hero__container{
    top: 0px;
    width: 100%;
    height: 120vh;
    z-index: 1;
    background-image: url(../sources/images/header-backgorund.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 2.4fr 1.8fr 1fr;
}
.hero__info{
    font-size: 3.4rem;
    text-align: center;
    height: 100vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
.hero__info h1{
    margin-top: 20px;
    line-height: 48px;
    font-weight: 600;
    color: var(--base);
}
.hero__info a{
    text-decoration: none;
    color: var(--base);
    font-size: 2.2rem;
    font-weight: 300;
    padding: 10px 20px;
    border: var(--brown) solid 2px;
    margin-top: 10px;
    transition-property: background-color;
    transition-duration: 800ms;
}
.hero__info a:hover {
    background-color: var(--brown);
    transition-property: background-color;
    transition-duration: 800ms;
}


/* cards section -----------------------------------------------*/
.cards{
    background-color: var(--brown);
}
.cards__container{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: -125px;
}
.cards__container div{
    width: 200px;
    height: 250px;
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.cards__container div h3{
    font-size: 2.6rem;
    color: var(--base);
    font-weight: 500;
    margin-bottom: 40px;
}
.cards__container div span{
    width: 115.01px;
    height: 114px;
}
.cards__container div:nth-child(1) span {
    background-image: url(../sources/icons/reliable.png);
    background-size: cover;
}
.cards__container div:nth-child(2) span {
    background-image: url(../sources/icons/committed.png);
    background-size: cover;
}
.cards__container div:nth-child(3) span {
    background-image: url(../sources/icons/creatives.png);
    background-size: cover;
}
.cards__container div:nth-child(4) span {
    background-image: url(../sources/icons/professionals.png);
    background-size: cover;
}

